<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   <mapper namespace="dept">
			<!-- 		
			select * from dept03 order by deptno desc
			select * from dept03 where deptno=#{deptno}
			select * from dept03 where dname=#{dname}
			select * from dept03 where deptno=#{deptno}	and dname=#{dname} 
			-->
		<select id="selectDept" resultType="deptBean" parameterType="deptBean">
			select * from dept03 
			<if test="deptno eq null and dname eq null">
				order by deptno desc
			</if>
			<trim prefix="where" suffixOverrides="and" suffix="order by deptno desc">
				<if test="deptno neq null and deptno neq 0">
					deptno=#{deptno} and
				</if>
				<if test="dname neq null">
					dname=#{dname} and
				</if>	
			</trim>
		</select>
		<select id="selectEach" resultType="deptBean">
		select * from dept03 where deptno in 
		<foreach item="su" index="idx" collection="list" separator="," open="(" close=")">
			#{su}
		</foreach>
		</select>
		<select id="selectAll" resultType="deptBean" parameterType="_int">
			select * from dept03 where deptno between
			<if test="val eq null">
				3 and 1+3
			</if>
			<if test="val neq null">
				#{val} and #{val}+3
			</if>
			
		</select>
   </mapper>
   